
body{
  background-color: rgba(149, 220, 194, 0.228);
  }

h1 {
  color: black;
}
h2 {
  color: black;
  text-align: center;  
}
h3 {
  color: black;
}
h4{
  color : black;
}
p{
  size: 10pt;
}
ol{    
  color: white;
  font-size: medium;
}
img {
  align-items : center;
  height: 100px;
  width: 320px;
  background-image : url("postit-notes.jpeg");
}
border {
  border-style: solid;
  border-width: thick;
}

.paddingbelow{
  padding-bottom: 10px;
}

.paddingabove{
  padding-top: 10px;
}
.paddingleftright {
  padding-right: 10px;
  padding-left:  10px
}
