body{
  background-color: rgba(0, 229, 255, 0.256);
  }

h1 {
  color: fuchsia;;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
  text-align: center;
}

ol{    
  color: white;
  font-size: large;
}
