
.text{    color: white;
    font-size: small;
    
}

 .col-blue {
    background-color: rgba(20, 73, 220, 0.844);
}

li {
    font-size: medium;
    padding-left: 10px;
    margin-left: 20px;
}
.padditemrow{
    padding-bottom: 2px;
  }
i {
    color: grey;
}
.paddiconright {
    padding-right: 5px;
}
.paddleft {
    margin-left: 5px;
}