


 .col-blue {
    background-color: rgba(20, 73, 220, 0.844);
}
p{
    font-size: large;
  }
li {
    font-size: medium;
    padding-left: 5px;
    margin-left: 15px;
}

.list-group-item {
    font-size: medium;
    padding-left: 5px;
    margin-left: 15px;

}
.dateSize {
    font-size: medium;
}
.padditemrow{
    padding-bottom: 2px;
  }
i {
    color: grey;
    size: medium;
    /* margin-left: 1px;
    margin-right: 1px; */
}

.paddleft {
    margin-left: 5px;
}
